
.font-inter{
    font-family: "Inter", sans-serif;
}
.font-mulish{
    font-family: "Mulish", sans-serif;
}


#list-cont a{
    padding: 16px 18px;
    border-radius: 50px;
    border:1px solid;
    border-color: #03071226;
    background-color: #12132D08;
}
footer{
    background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);



}
.phetro{
    background-image: linear-gradient(90deg, #797DFC 0.63%, #7D7DFC00 140%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}